/** {
  border: 1px red solid;
}*/

body {
  font-family: "Monaco";
}

.row.full {
  max-width: 100%;
}

.sidebar {
  position: fixed;
  background-color: gray;
  min-height: 100%;
  -webkit-box-shadow: 5px 0 1px 1px #555;
  box-shadow: 5px 0 1px 1px #555;
}

.content-body {
  position: relative;
  background-color: #153737;
  height: 100vh;
}

/*.off-canvas {
  min-height: 100%;
}*/

/*#philips-term {
  margin: 0;
  overflow: hidden;
  height: 97vh;
}*/

/*Mobile screens*/
@media only screen and (max-width: 40em) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

/*Non-mobile screens*/
@media only screen and (min-width: 40.063em) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
