/** {
  border: 1px red solid;
}*/

body {
  font-family: "Monaco";
}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.name-title {
  font-size: 3em;
  font-family: monospace;
}

.sub-title {
  font-size: 15px;
  font-family: monospace;
}

.row.full {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.content-body {
  position: relative;
  background-color: #243434;
  height: 100vh;
  padding-right: 0;
}

.img-icon {
  /*position: relative;*/
  height: auto;
  width: 30%;
  max-width: 100px;
  min-width: 80px;
  /*padding: 1em;*/
}

#social-media {
  position: relative;
  /*text-align: center;*/
  /*bottom: 25%;*/
}

.add-padding {
  padding: 15px;
}

.sidebar {
  margin: 0;
  padding: 0;
  background-color: silver;
  border: 1px solid gray;
  height: 100vh;
  text-align: center;
}

.style-mypic {
  height: auto;
  width: 150px;
  border-radius: 50%;
  border: 1px solid gray;
}

.warn-resize {
  height: auto;
  width: 25px;
}

/*Mobile screens*/
@media only screen and (max-width: 639px) {
  #desktop {
    display: none;
  }
  #mobile {
    display: block;
    margin: 0 auto;
  }
  .sidebar {
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

/*Non-mobile screens*/
@media only screen and (min-width: 640px) {
  #desktop {
    display: block;
  }
  #mobile {
    display: none;
    margin: 0 auto;
  }
  .sidebar {
    position: fixed;
  }
}
