/*body {
  background-color: #1c4a4a;
}*/

/** {
  border: 1px red solid;
}*/

.row.full {
  max-width: 100%;
}

.sidebar {
  position: fixed;
  background-color: gray;
  min-height: 100%;
  -webkit-box-shadow: 5px 0 1px 1px #555;
  box-shadow: 5px 0 1px 1px #555;
}

.content-body {
  background-color: #1c4a4a;
}

/*.off-canvas {
  min-height: 100%;
}*/

/*.term-container {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}*/

/*#philips-term {
  margin: 0;
  overflow: hidden;
  height: 97vh;
}*/

/*Mobile screens*/
@media only screen and (max-width: 40em) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

/*Non-mobile screens*/
@media only screen and (min-width: 40.063em) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
