

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/*Customize*/
.add-background {
  background-image: url("images/Optimized-macbook-computer-clean-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%, 50%;
}

.custom-color {
  color: #D0D0D0;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  -moz-text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  -webkit-text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.architect {
  font-family: 'Architects Daughter', cursive;
}

.rock-salt {
  font-family: 'Rock Salt', cursive;
}

.custom-size {
  font-size: 150%;
}

#my_pic {
  width: 120px;
  border: 1px solid #3E687F;
  border-radius: 10px;
}

li {
  margin: 2px;
  padding: 2px;
}

body {
  padding-top: 80px;
}


/*Chrome Font Bug Fix*/
body {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to { opacity: 1; }
}