/*Main*/

html {
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: #3E687F;
  text-decoration: none;
}

a:visited {
  color: #3E687F;
  text-decoration: none;
}

a:hover {
  color: #268FCC;
  text-decoration: underline;
}

a:active {
  color: red;
  text-decoration: underline;
}

header {
  border-style: inset;
  border-color: #2793D1;
  position: relative;
}

#banner-name {
  font-size: 40pt;
  font-family: Courier, monospace;
  margin: 5px 10px 5px 10px;
  padding-left: 40px;
}

#banner-text {
  margin: 0px 0px 5px 0px;
  padding-left: 50%;
}

nav {
  text-align: center;
  margin: 10px 0px 10px 0px;
  position: relative;
}

section {
  position: relative;
  text-align: center;
  margin: 25px 50px 10px 50px;
  display: inline-block;
}

table {
  margin-top: 20px;
}

td {
  width: 50%;
  padding: 25px;
}

/*Blog Index*/

.body-format {
  position: relative;
  margin: 10px auto;
  width: 100%;
  height: 300px;
}

#left-panel {
  position: relative;
  display: inline-block;
  float: left;
  top: 20%;
  width: 30%;
  border: 1px solid black;
  overflow: auto;
}

#left-panel > p {
  margin-bottom: 0;
  position: relative;
  float: right;
  border: 1px solid black;
}

#left-scroll {
  position: relative;
  border: 1px solid black;
  opacity: 0.7;
  height: 10%;
  top: 25%;
  float: left;
  overflow: auto;
  overflow-x: hidden;
  white-space: nowrap;
}

#wrapper {
  border: 1px solid black;
  display: inline-block;
  position: relative;
  float: right;
  width: 60%;
  height: 150%;
  padding: 10px;
}

#bloglink-scrollbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#bloglink-scrollbar > li {
  font-size: 12pt;
  margin: 5px;
  padding: 5px;
  text-align: left;
  text-indent: none;
  list-style: none;
}

#wrap-title {
  position: relative;
}

#wrap-minis {
  position: relative;
  font-size: 10pt;
}

#wrap-link {
  position: relative;
}

/*Blog Posts*/

.max-width {
  margin-top: 50px;
  border: 1px #268FCC solid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  float: center;
  background-color: #F2F8FC;
}

span {
  font-weight: bold;
  font-size: 120%;
}

#blog-title {
  font-size: 14pt;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 0px;
}

#date-title {
  font-size: 10pt;
  padding-left: 15px;
  text-align: left;
}

#blog-links {
  font-size: 9pt;
  padding: 10px;
  border: 1px #3E687F solid;
  text-align: center;
  vertical-align: center;
  background-color: white;
}

.codeblock {
  text-align: left;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px black solid;
  background-color: lightgray;
  font-size: 90%;
  font-family: 'Times New Roman', monospace;
}

li {
  font-size: 9px;
  text-align: left;
  margin-left: 10%;
}

.form-format {
  font-weight: bold;
}


footer {
  border-style: outset;
  border-color: #2793D1;
  position: relative;
  margin: 0px 0px 0px 5px;
  padding: 10px;
  text-align: center;
}

#twitter-share-button {
  margin-right: 20px;
}

#fb-share-button {
  margin-left: 20px;
}


/*Monochromatic color scheme

#2793D1
#7CCFFF
#3083FF
#3E687F
#268FCC
*/



